[submodule "vscode-scala"]
	path = vscode-scala
	url = git@github.com:scalacenter/vscode-scala-profiledb.git
	branch = profiledb-integration
[submodule "FlameGraph"]
	path = FlameGraph
	url = git@github.com:jvican/FlameGraph.git
