*.class
*.log

# sbt specific
.cache
.history
.lib/
.idea
dist/*
target/
target_211/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.ensime_cache/
.ensime/

# Project specific
.scalac-hash
.hidden
.profiledb_211
.proxy
