name: CI
on:
  push:
    tags: ["*"]
    branches: ['**', '!update/**', '!pr/**']
  pull_request:
    branches: ['**', '!update/**', '!pr/**']

jobs:
  scalafmt:
    name: Check formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Java (temurin@8)
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 8
          cache: sbt
      - uses: coursier/cache-action@v6
      - name: Check formatting
        run: sbt -v "scalafmtSbtCheck" "scalafmtCheckAll"
  docs:
    name: Build docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Java (temurin@8)
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 8
          cache: sbt
      - uses: coursier/cache-action@v6
      - run: sbt docs/run
  plugin-tests:
    name: Compiler and SBT plugin tests
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        scala:
          - 2.12.13
          - 2.12.14
          - 2.12.15
          - 2.12.16
          - 2.12.17
          - 2.12.18
          - 2.12.19
          - 2.13.5
          - 2.13.6
          - 2.13.7
          - 2.13.8
          - 2.13.9
          - 2.13.10
          - 2.13.11
          - 2.13.12
          - 2.13.13
          - 2.13.14
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Setup Java (temurin@8)
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 8
          cache: sbt
      - uses: coursier/cache-action@v6
      - name: Compiler plugin tests
        run: sbt -v '++ ${{ matrix.scala }}' plugin/test
      - name: SBT plugin tests
        run: sbt -v '++ ${{ matrix.scala }}' profilingSbtPlugin/scripted
  integration-tests:
    name: Integration tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Setup Java (temurin@8)
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 8
          cache: sbt
      - uses: coursier/cache-action@v6
      - name: Running tests
        run: sbt -v "showScalaInstances" "integrations/testOnly integration better-files wartremover"
